---
import Cursor from './icons/cursor.astro';

interface Props {
	title: string;
	tag: string;
	href: string;
	border: string;
	background: string;
    cursor:string;
    dropShadow:string;
}

const { href, title, tag, border, background, cursor, dropShadow } = Astro.props;
---



<div class="border-solid flex flex-col gap-4 md:gap-[22px] border-[3px] border-black rounded-md p-[17px] md:pl-[23px] md:pr-[19px] md:pb-[28px] md:pt-[19px] bg-white">
    <img src="/images/card-image.svg" alt="card image." class="h-[160px] lg:h-[318px] w-full" />
    <div class="flex justify-between items-end gap-1">
        <div class="max-w-[55%] w-full">
            <p class="font-handlee text-[21px] md:text-[28px] md:leading-[28px] font-bold">{title}</p>
        </div>
        <div class="lg:w-full lg:max-w-[40%] lg:flex lg:flex-col justify-end items-end">
            <div class="-ml-3 md:-ml-5 xl:ml-1 justify-self-start self-start"><Cursor color={cursor} /></div>
            <div class={`text-white text-[13px]  leading-5 lg:text-[18px] text-center flex items-center justify-center md:leading-[28px] w-[90px] md:w-[122px] font-medium h-[33px] md:h-[45px] ${background} ${dropShadow} border-solid border-[1.65px] md:border-[2.24px] ${border} rounded-r-[20px] rounded-bl-[20px] rounded-tl-[1.65px] md:rounded-r-[26.85px] md:rounded-bl-[26.85px] md:rounded-tl-[2.24px]`}>{tag}</div>
        </div>
    </div>
</div>